@import './base/reset.css';
@import './base/typography.css';
@import './components/button.css';
@import './layout/footer.css';
@import './layout/header.css';
@import './page/hero.css';
@import './page/prodive.css';
@import './page/qualities.css';
@import './page/speciality.css';
@import './page/test.css';
@import './utils/utilities.css';
@import './utils/variables.css';