header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-primary);
    padding: 19px 16px;
}

.nav-div {
    display: none;
}

.nav-lists {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin-right: 35px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-secondary)
}

.nav-item a:hover {
    text-decoration: underline;
    color: var(--color-primary)
}

header button {
    display: none;
}

.mobile-modals {
    display: none;
}

.modals {
    background: var(--bg-primary);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation-name: modalOpen;
    animation-duration: 1s;
}

@keyframes modalOpen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 15px;
    box-shadow: var(--primary-box-shadow);
}

.modals li {
    padding: 27px 16px;
    box-shadow: var(--primary-box-shadow);
    display: flex;
    align-items: center;
    list-style-type: none;
}

.modals li a {
    text-decoration: none;
    color: var(--color-primary);
}

.modals li a:hover {
    text-decoration: underline;
    color: var(--bg-secondary)
}

.modals button {
    border: 0;
    padding: 19px 15px;
    box-shadow: var(--primary-box-shadow);
    background: var(--color-primary);
    width: 100%;
    color: #fff;
}

@media (min-width:480px) {
    .modals li {
        text-align: center;
        justify-content: center;
    }
}

@media (min-width:768px) {
    header {
        padding: 30px;
    }
    header button {
        display: block;
    }
}

@media (min-width:1024px) {
    header {
        padding: 30px 40px;
    }
    .nav-div {
        display: block;
    }
    .nav-item {
        margin-right: 50px;
    }
    .menu-bar {
        display: none;
    }
}

@media (min-width:1201px) {
    header {
        padding: 33px 60px;
    }
    .nav-item {
        margin-right: 70px;
    }
}