.hero {
    background: url("/img/bg-img.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f5f5;
    position: relative;
    padding-bottom: 50px;
}

.hero-img {
    width: 100%;
}

.hero-img img {
    width: 100%;
}

.hero-body {
    width: 100%;
    padding: 30px 20px;
}

.hero-body h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
}

.hero-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 20px 0;
    color: var(--text-secondary);
}

.video-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-div a {
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-primary)
}

.video-div a:hover {
    text-decoration: underline;
    color: var(--bg-secondary)
}

.booking {
    margin-top: 50px;
}

.booking-paragraph {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #13121C;
}

.booking-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 37px 25px;
    margin-top: 30px;
    text-align: center;
}

.booking-flex {
    display: flex;
    margin-bottom: 10px;
}

.booking-flex img {
    margin-left: 7px;
}

.booking-box-flex {
    border: 1px dotted var(--color-primary);
    padding: 10px;
}

@media (min-width:480px) {
    .booking-box {
        grid-template-columns: repeat(1, 1fr);
    }
    .booking-flex {
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:768px) {
    .hero-body {
        padding: 30px;
    }
    .hero-body h1 {
        font-size: 36px;
        line-height: 44px;
    }
    .booking-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .hero-body {
        padding: 40px 0 40px 40px;
    }
    .hero-body h1 {
        font-size: 46px;
        line-height: 54px;
        padding-right: 30px;
    }
    .video-div {
        justify-content: flex-start;
    }
    .booking {
        position: absolute
    }
    .booking-box {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 37px 45px;
        margin-top: 30px;
        text-align: start;
    }
    .booking-flex {
        align-items: center;
        justify-content: start;
        text-align: center;
    }
}

@media (min-width:1201px) {
    .hero-body {
        padding: 60px 0 60px 60px;
    }
    .hero-body h1 {
        font-size: 46px;
        line-height: 64px;
        padding-right: 30px;
    }
}

@media (min-width:1440px) {
    .hero-body {
        padding: 100px 0 100px 100px;
    }
    .hero-body h1 {
        font-size: 56px;
        line-height: 74px;
        padding-right: 60px;
    }
    .hero-paragraph {
        font-size: 28px;
        line-height: 37px;
    }
    .video-div a {
        font-size: 28px;
        line-height: 33px;
    }
}