.prodive-section {
    background: url("/img/bg-img.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #f5f5f5;
    padding: 30px 20px 30px 20px;
}

.prodive-img {
    width: 100%;
}

.prodive-img img {
    width: 100%;
}

.prodive-body {
    width: 100%;
    padding: 30px 20px;
}

.prodive-body h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: var(--color-secondary);
}

.prodive-body p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 20px 0;
    color: var(--text-secondary);
}

@media (min-width:1024px) {
    .prodive-section {
        display: flex;
        padding: 40px 0 40px 40px;
        align-items: center;
        justify-content: space-between;
    }
    .prodive-body h3 {
        font-size: 30px;
    }
    .prodive-body p {
        font-size: 20px;
    }
}

@media (min-width:1201px) {
    .prodive-section {
        padding: 70px 60px 70px 60px;
    }
    .prodive-body h3 {
        font-size: 31px;
    }
}

@media (min-width:1400px) {
    .prodive-section {
        padding: 100px 100px 70px 100px;
    }
    .prodive-body h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
    }
    .prodive-body p {
        font-size: 20px;
    }
}